API_KEY=sk-api-_xN0p-n2TWAMKbiyNl9CEo3YIW5B0HA_vkp-LenMAHRxCHTo67IKGS5ZM_j8ZUb6ywjjkStF5yCnI4afjGpCWUB8koYSlp55qbKFtscnBnoRwbLPvyea8EM # 模型服务API密钥
BASE_URL=https://api.minimaxi.com/v1 # 模型服务地址
PORT=3100