/* 进入动画 */
/* .why-appear {
  transform: translateX(-150px);
}

.why-appear-active {
  transform: translateX(0);
  transition: transform 2s ease;
} */

/* 刚出现时的动画、从离开到展示的动画 */
.why-appear, .why-enter {
  opacity: 0;
}
.why-appear-active, .why-enter-active {
  opacity: 1;
  transition: opacity 2s ease;
}

/* opacity为1时 看得最清晰    为0时 完全看不到*/


/* 以下两个共同组成  离开动画 */
.why-exit {
  opacity: 1;
}
.why-exit-active {
  opacity: 0;
  transition: opacity 2s ease;
}

